<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CFG.Properties.Settings>
            <setting name="Task_Info" serializeAs="String">
                <value>\task_info.csv</value>
            </setting>
            <setting name="Agent_Info" serializeAs="String">
                <value>\agent_Info.csv</value>
            </setting>
            <setting name="TaskResult" serializeAs="String">
                <value>\taskResult.csv</value>
            </setting>
            <setting name="AgentResult" serializeAs="String">
                <value>\AgentResult.csv</value>
            </setting>
        </CFG.Properties.Settings>
    </userSettings>
</configuration>